@model LabCommunictionProj.Models.BookModel

<h1>Show Book Details</h1>

<p>Title: @Model.Title</p>
<p>Author: @Model.Author</p>
<p>Publisher: @Model.Publisher</p>
<p>Year: @Model.Year</p>
<p>Buy Price: @Model.BuyPrice</p>
<p>Borrow Price: @Model.BorrowPrice</p>
<p>Number of Copies: @Model.CopiesNum</p>
<p>Age Limit: @Model.AgeLimit</p>
<p>Genre: @Model.Genre</p>
