@model LabCommunictionProj.Models.UserModel

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<style>
    body {
        background-color: aliceblue;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 120vh;
    }

    .blur-box {
        background-color:white;
        backdrop-filter: blur(10px);
        border-color:black ;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
        width: 400px; 
        height: 600px;
        margin-Top: -60px;
    }

    .form-control {
        margin-bottom: 30px;
    }

    .validation-message {
        color: red;
        font-size: 0.85em;
        margin-top: -5px; 
        margin-bottom: 10px; 
    }

    .form-text {
        font-size: 0.8em;
    }
</style>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="blur-box">
        @if (ViewData.ModelState.ContainsKey("DuplicateEntry"))
        {
            <div class="validation-message">
                @ViewData.ModelState["DuplicateEntry"].Errors[0].ErrorMessage
            </div>
        }
        <h2 class="text-center mb-3">Sign Up</h2>
        <form action="ViewUser" method="post">
            <div class="form-row">
                <div class="col">
                    @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "validation-message" })
                    <input name="FirstName" class="form-control" placeholder="First Name" value="@Model.FirstName" />
                </div>
                <div class="col">
                    @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "validation-message" })
                    <input name="LastName" class="form-control" placeholder="Last Name" value="@Model.LastName" />
                </div>
            </div>
         
            <div class="form-row">
                <div class="col">
                    @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "validation-message" })
                    <input name="PhoneNumber" class="form-control" placeholder="Phone" value="@Model.PhoneNumber" />
                </div>
                <div class="col">
                    @Html.ValidationMessageFor(x => x.Mail, null, new { @class = "validation-message" })
                    <input name="Mail" type="email" class="form-control" placeholder="Email" value="@Model.Mail" />
                </div>
            </div>

            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "validation-message" })
            <input type="password" name="password" class="form-control" placeholder="Password" value="@Model.Password" />
            <small class="form-text text-muted">
                Must include 8+ chars, an uppercase, a number, and a special character.
            </small>

            @Html.ValidationMessageFor(x => x.Id, null, new { @class = "validation-message" })
            <input name="Id" class="form-control" placeholder="ID" value="@Model.Id" />

            @Html.ValidationMessageFor(x => x.IsAdmin, null, new { @class = "validation-message" })
            <input name="IsAdmin" class="form-control" placeholder="Is Admin? yes/no" value="@Model.IsAdmin" />

            <button type="submit" class="btn btn-primary btn-block mt-3">Add User</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
