@model LabCommunictionProj.Models.UserModel

<h1> Show user detailes</h1>

<p>first name: @Model.FirstName</p>
<p>last name: @Model.LastName</p>
<p>phone: @Model.PhoneNumber</p>
<p>mail: @Model.Mail</p>
<p>id: @Model.Id</p>
<p>password: @Model.Password</p>